/* Have fun. This is your site. */

body {
  background: rgb(148, 185, 211);
}
h1{
  text-align: center;
}
/* Main Container */
main {
  width: 100%;
  /* centers container to page */
  margin-inline: auto;
  
  /* adjust to your design */
  max-width: 40em;

}

ul{
  list-style-type: none; 
  /* creates list with no dots */
  padding: 0;
}
h3{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 0.5em;
  margin: 0;
}

img{
  /* do i like it without the bigger image and fitted on screen or smaller..? */
  width: 100%;
  height: auto;
  display: block;
  margin-inline: auto;
}

body {
  font-family: 'Roboto', sans-serif;
}